.search-form {
    width: 100%;
}

.avatar-img {
    width: 60px;
    margin-left: 1em;
}

.repo-card {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}